spring:
  application:
    name: invenance

  profiles:
    active: dev

  datasource:
    url: jdbc:postgresql://localhost:5433/invenance
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
        jdbc:
          time_zone: UTC

server:
  port: 8080
  servlet:
    context-path: /api

